/* Home */
header {
	min-height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.55) 70%, rgba(66, 134, 244, 0.45) 99%),
	url("../img/homebg.png") no-repeat center center;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}




.contentDiv {
    /* background-color: orange; */
    height: 200px;
    /* position: relative; */
    width: 200px;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}




.playercount {
	display: inline-block;
	background: rgba(0,0,0,0.4);
	padding: 3px;
	font-size: 0.7em;
	color: white;
	text-align: center;
}

.playercount span {
	color: cyan;
}

/* Main Content */

.img {
	transition: all 0.4s ease;
	padding-bottom: 10px;
}

.img:hover {
	transform: scale(1.05);
}

.about-text {
	padding-bottom: 30px;
	padding-top: 10px;
}

.gradient {
	margin-top: 20px;
	color: white;
	text-align: center;
	padding: 30px;
	background-size: cover;
	background: linear-gradient(#4286f4, #70d8ff) fixed;
}

.flex-container {
	margin: 0 auto;
	max-width: 1100px;
	display: flex;
	flex-wrap: wrap;
}

.split,
.vote {
	flex: 1 0 auto;
}

.vote-btn {
	background-color: rgb(255,255,255);
	border: 2px solid #595a5b;
	padding: 20px 40px;
	outline: none;
	cursor: pointer;
	transition-duration: 0.4s;
	text-transform: uppercase;
}

.vote-btn:hover {
	background-color: #595a5b;
	color: white;
}

.vote-container {
	display: flex;
	flex-wrap: wrap;
	margin: 25px auto 0 auto;
	max-width: 1100px;
	justify-content: space-around;
	border-top: 1px solid;
}

.vote-section {
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
}

.split,
.vote {
	padding: 5px;
	margin: 10px;
}

.split {
	flex-basis: 250px;
}

.vote {
	flex-basis: 210px;
}

/* Media Queries */

@media(min-width: 1000px) {
	.item:not(:first-child) {
		margin-left: 90px;
	}
}

@media(min-width: 700px) {
	.main-content {
		width: 40%;
		text-align: center;
		margin: 0 auto;
	}
	.playercount {
		font-size: 1.2em;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.vote {
		min-width: 50%;
	}
}


/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1080px) {
	header {
	  background-attachment: scroll;
	}
  }